@page
@model WebApplication.Pages.Files.IndexModel
@{
    ViewData["Title"] = "Index";
}
    <h1>MyPhotos - numar fisiere: @Html.DisplayFor(model => model.Files.Count)</h1>
<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
    <p>
        Cauta dupa locatie: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Cauta" />
    </p>
</form>
<form>
    <p>
        Cauta dupa peisaj: <input type="text" asp-for="SearchPeisaj" />
        <input type="submit" value="Cauta" />
    </p>
</form>
<form>
    <p>
        Cauta dupa eveniment: <input type="text" asp-for="SearchEveniment" />
        <input type="submit" value="Cauta" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Files[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Files[0].nume_fisier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Files[0].cale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Files[0].data_creare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Files[0].locatie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Files[0].eveniment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Files[0].peisaj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Files[0].descriere)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Files[0].del)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Files)
        {   
            <tr style="font-size:small">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nume_fisier)
                </td>
                <td>
                    <a href='@Url.Content(item.cale+@"/"+item.nume_fisier)'><img src='@Url.Content(item.cale+@"/"+item.nume_fisier)' style="max-height: 100px; max-width: 100px;" /></a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.data_creare)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.locatie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.eveniment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.peisaj)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descriere)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Useris.Count)
                </td>
            </tr>
        }
    </tbody>
</table>
